body {
    background-color:#FFEEDB;
    margin:0;
}

#wrapper {
    width:960px;
    padding:20px;
    margin:0px auto;
    background-color:#FFFFFF;
}

.container {
    display:inline-block;
    vertical-align:top;
    margin:20px;
    padding:20px;
}

.container h2 {
    text-align:center;
}

.params-explain li em, pre {
    font-family:monospace;
    font-style:normal;
    color:#143647;
    font-size:10px;
}
.params-explain li {
    margin-bottom:1em;
    border-bottom:1px dashed #ccc;
    width:550px;    
    list-style:none;
}
.params-explain {
    margin:10px 0;
    padding:0;
}
.params-explain p {
    font-weight:bold;
    width:460px;
    padding:20px;
}
.based-on {
    float:right;
    background-color:#E3DBFF;
    width:200px;
    border:1px solid #ccc;
    padding:10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

.based-on h3 {
    border-top:1px solid #ccc;
    padding-top:5px;
}
/*.jcarousel-container {margin:0 auto;}*/

/*Github style*/
aside {float:right; width:168px; margin:0 10px; border:1px solid #ccc}
aside a {text-decoration:none; display:block; padding:5px}
aside a:hover {background:#EF9A52}
/*End Github Style*/

.grey .jcarousel-container {
    background:none;
    border:none;
    border-radius:0;
    height:320px;
}

.grey .jcarousel-clip-vertical {
    height:320px;
    margin:0;
    padding:0;
}
.grey .jcarousel-item {
    border:1px solid #ccc;
    background: #efe;
    padding:5px 6px;
    width:270px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */