body {font-family:Arial; font-size:13px}

.jcarousel-skin-tweet-retriever .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.jcarousel-skin-tweet-retriever .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tweet-retriever .jcarousel-container-horizontal {
    /*width: 920px;*/
    padding: 20px 40px;
}

.jcarousel-skin-tweet-retriever .jcarousel-container-vertical {
    /*width: 300px;
    height: 340px;*/
    padding: 40px 20px;
}

.jcarousel-skin-tweet-retriever .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tweet-retriever .jcarousel-clip-horizontal {
    /*width:  920px;
    height: 60px;*/
}

.jcarousel-skin-tweet-retriever .jcarousel-clip-vertical {
    /*width:  300px;
    height: 340px;*/
}

.jcarousel-skin-tweet-retriever .jcarousel-item {
    /*width: 300px;
    height: 60px;*/
}

.jcarousel-skin-tweet-retriever .jcarousel-item-horizontal {
	/*margin-left: 0;
    margin-right: 10px;*/
}

.jcarousel-skin-tweet-retriever .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tweet-retriever .jcarousel-item-vertical {
    /*margin-bottom: 10px;*/
}

.jcarousel-skin-tweet-retriever .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


.jcarousel-skin-tweet-retriever .jcarousel-item img {
	float:left;
	margin:3px 5px 0 0;
	border:0;
	width:48px;
	height:48px;
}
.jcarousel-skin-tweet-retriever .jcarousel-item img a {
	text-decoration:none;
	border:0;
}
.jcarousel-skin-tweet-retriever .jcarousel-item span.name {
	font-weight:bold;
	font-size:0.8em;
}
.jcarousel-skin-tweet-retriever .jcarousel-item span.name a {
	color:#000;
	text-decoration:none;
}

.jcarousel-skin-tweet-retriever .jcarousel-item span.date {
	color:grey;
	font-size:0.75em;
	float:right;
	margin:0 2px 0 0;
}
.jcarousel-skin-tweet-retriever .jcarousel-item p {
	margin:0.4em 0 0 0;
	padding:0;
	font-size:0.75em;
}
.jcarousel-skin-tweet-retriever .jcarousel-item span.real_time {display:none}

.tweetControls {font-size:16px; position:absolute; visibility:hidden; float:right;clear:right; margin:25px 0 0 220px;}

li:hover .tweetControls {visibility:visible;}

.tweetControls {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(255, 255, 255);
/* RGBa with 0.6 opacity */
background-color: rgba(255, 255, 255, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}


.tweetControls a {display:inline-block; margin:0 5px; padding:0;}

.tweetControls a i {display:inline-block; width:16px; height:16px; background:no-repeat url('../img/twitter-sprite.png');}

.tweetControls a.reply i {background-position:0 0;}
.tweetControls a.reply:hover i {background-position:-16px 0;}
.tweetControls a.favorite i {background-position:-32px 0;}
.tweetControls a.favorite:hover i {background-position:-48px 0;}
.tweetControls a.retweet i {background-position:-80px 0;}
.tweetControls a.retweet:hover i {background-position:-96px 0;}